@each $key, $value in ($main-colors) {
  @include make-utility((
    alias: 'bgcolor-' + $key,
    background-color: $value
  ));
}

@each $key, $value in ($ui-colors) {
  @include make-utility((
    alias: 'bgcolor-' + $key,
    background-color: $value
  ));
}