@each $key, $value in ($icon-colors) {
  @include make-utility((
    alias: 'fill-' + $key,
    fill: $value
  ));
}

@each $key, $value in ($marker-colors) {
  @include make-utility((
    alias: 'fill-' + $key,
    fill: $value
  ));
}