@each $value in (capitalize, lowercase, uppercase) {
  @include make-utility((
    alias: $value,
    text-transform: $value,
    class: true
  ));
}

@each $name, $value in ($type-font-families) {
  @include make-utility((
    font-family: #{unquote($value)},
    alias: font-family-#{$name},
    class: true
  ));
}

@each $value in ($type-alignments) {
  @include make-utility((
    text-align: #{$value},
    class: true
  ));
}

@each $value in ($type-weights) {
  @include make-utility((
    font-weight: #{$value},
  ));
}

@include make-utility((
  alias: underline,
  text-decoration: underline
));

@each $group in $type-groups {

  $group-family: map-get($group, family);
  $group-sizes: map-get($group, sizes);
  $group-line-height: map-get($group, line-height);

  %u-line-height-#{$group-family} {
    line-height: #{$group-line-height};
  }

  @each $size in $group-sizes {
    $size-alias: first($size);
    $size-breakpoints: last($size);

    $size-small: first($size-breakpoints);
    $size-large: last($size-breakpoints);

    // Make font-size utilities
    %u-font-size-#{$group-family}-#{$size-alias} {
      @include breakpoint('upto-tablet') {
        font-size: $size-small;
      }

      @include breakpoint('from-tablet') {
        font-size: $size-large;
      }
    }

    // Make classes of font-size utilities
    .u-font-size-#{$group-family}-#{$size-alias} {
      @extend %u-font-size-#{$group-family}-#{$size-alias};
    }
    
    // Make objects with font-families
    %o-#{$group-family}-#{$size-alias} {
      @extend 
        %u-font-family-#{$group-family},
        %u-font-size-#{$group-family}-#{$size-alias},
        %u-line-height-#{$group-family};
    }

    .o-#{$group-family}-#{$size-alias} {
      @extend %o-#{$group-family}-#{$size-alias};
    }
  }
}